<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css" />
    <title>Add Book</title>
</head>
<body>
    <header>
        <div class = "hero">
            <h1>My Book Tracker</h1>
            <a href="/"> 
                <p>Home</p>
            </a>
        </div>
    </header>
    <h2>Add a New Book</h2>
    <form class="book-add" action="/add" method="post">
        <input type="text" name="title" placeholder="Book Title" required>
        <input type="text" name="author" placeholder="Author Name" required>
        <textarea name="review" placeholder="Your review"></textarea>
        <button type="submit">Add Book</button>
    </form>
    <footer>Copyright © chimax: <%= new Date().getFullYear() %>
    </footer>
</body>
</html>
